---
layout: default
---

<div class="home">

	<div class="row">

		<div class="four columns">
			<h1><strong>Dev</strong><em>signer</em> Tricks</h1>
			<p class="text-large">I'm keeping a blog as motivation to research and demo an aspect of <strong>HTML</strong>, <strong>CSS</strong> or <strong>JavaScript</strong> that I haven't tried before or want to explore more in-depth.</p>
			<p class="text-large">This is a great way to learn and add more tricks to my developer bag. I hope you find something useful here too. :)</p>
		</div>

		<div class="eight columns">

			{% include post-list-main.html %}

			<!-- This loops through the paginated posts -->
			{% for post in paginator.posts %}
			<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
			<p class="author">
				<span class="date">{{ post.date }}</span>
			</p>
			<div class="content">
				{{ post.content }}
			</div>
			{% endfor %}

		</div>

	</div>

</div>
