<div class="eight columns">

	<p>I'm a presentation layer front-end developer with design background that hails from Seattle, Washington. I thrive on creating intuitive digital experiences and advocate strongly for the user. My experience includes working on large scale solutions for clients like <a href="http://allrecipes.com" title="Allrecipes" target="_blank">Allrecipes</a> and the <a href="http://uwimpact.org" title="UW Impact" target="_blank">University of Washington</a> as well as creating successful web presences for small businesses.</p>

</div>