<div class="eight columns experience">

	<h6>September 2014 – Present | Greater Seattle Area</h6>
	<h3>Freelance Web Developer &amp; Designer</h3>
	<h4>Self Employed</h4>
	<ul>
		<li>Design and develop web sites for small businesses</li>
		<li>WordPress theme customization
			<ul>
				<li>Create new child themes based on Genesis parent themes</li>
				<li>Create custom themes from PSDs</li>
				<li>Move static sites to WordPress</li>
			</ul>
		</li>
	</ul>

	<h6>July 2012 – September 2014 | Greater Seattle Area</h6>
	<h3>Front-End Developer</h3>
	<h4>Allrecipes</h4>
	<ul>
		<li>Develop responsive cross-browser and cross-platform compatible solutions using HTML and CSS</li>
		<li>Develop responsive HTML emails in combination with XSLT</li>
		<li>Led effort in front-end team in the following areas</li>
			<ul>
				<li>conversion to using Sass instead of standard CSS</li>
				<li>creation and maintenance of style guide using Sass, Grunt, Node.js</li>
			</ul>
		</ul>

	<h6>January 2012 – June 2012 | Redmond, WA</h6>
	<h3>Design Integrator</h3>
	<h4>Microsoft (via Aquent)</h4>
	<ul>
		<li>Work with developers, testers and designers to fine tune Windows Phone to pixel-perfect design specifications using proprietary Microsoft technology</li>
	</ul>

	<h6>May 2010 – January 2012 | Greater Seattle Area</h6>
	<h3>Graphic Designer/Web Developer</h3>
	<h4>Effective Design Studio</h4>
	<ul>
		<li>Design and develop user-friendly, accessible web sites</li>
		<li>Develop sites executed by other designers to exact specifications</li>
		<li>Integrate social media functionality into sites and train clients to use</li>
		<li>Design and execute HTML emails</li>
	</ul>

	<h6>June 2009 – May 2010 | Greater Seattle Area</h6>
	<h3>Assistant Director of Web and Online Services</h3>
	<h4>UW Medicine Advancement</h4>
	<ul>
		<li>Design and develop user-friendly, accessible web sites</li>
		<li>Strategize with colleagues so I can best support their fundraising efforts</li>
		<li>Advocate for the department by coordinating web services used by other departments in the university</li>
	</ul>

	<h6>2007 – 2008 | Greater Seattle Area</h6>
	<h3>Web Designer</h3>
	<h4>HealthTalk</h4>
	<ul>
		<li>Redesigned web site as part of a team</li>
		<li>Created comps to include clients’ identity for sales department</li>
	</ul>

	<h6>September 2004 – November 2007 | Greater Seattle Area</h6>
	<h3>Graphic Designer/Web Site Specialist</h3>
	<h4>UW Medicine Development</h4>

	<h6>August 2001 – August 2004 | Greater Seattle Area</h6>
	<h3>Marketing Designer</h3>
	<h4>Zegrahm &amp; Eco Expeditions</h4>

	<h6>November 1998 – July 2001 | Greater Seattle Area</h6>
	<h3>Jr. Designer/Production Artist</h3>
	<h4>Zegrahm &amp; Eco Expeditions</h4>

</div>
