<div class="twelve columns page-contact">
	<p>Please send use the form below to inquire about my availability for work or ask a question about one of the exercises.</p>
	<br>
	<form action="https://getsimpleform.com/messages?form_api_token=945fee3f6eb82d9f594460562930b6f8" method="post">
		<!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
		<!-- <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' /> -->
		<!-- all your input fields here.... -->
		<div class="row">
			<label class="two columns" name="email">Email</label>
			<input class="six columns" type="email" name="email" />
		</div>
		<div class="row">
			<label class="two columns" name="subject">Subject</label>
			<input class="six columns" type="text" name="subject" />
		</div>
		<div class="row">
			<label class="two columns" name="message">Message</label>
			<textarea class="eight columns" name="message"></textarea>
		</div>
		<div class="row">
			<input class="three offset-by-two columns" type="submit" value="Send" />
		</div>

	</form>
</div>
