.page-skills {
	.columns, hr {
		float: left;
	}

	h3 {
		margin-bottom: .5em;
		line-height: 1.375;
	}

	h5 {
		margin-bottom: .125em;
		line-height: 1.375;
	}

	ul, p {
		line-height: 1.375;
	}

	hr {
		margin: 2em 0 .5em;
	}
}
